<p id="notice"><%= notice %></p>

<h1>Welcome to Test Blog</h1>

<table align="center">
  <thead>
    <tr>
      <th><h2>Title</h2></th>
      <th><h2>Body</h2></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><h3><%= post.title %></h3></td>
        <td><h3><%= post.body %></h3></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
